<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Code Analysis Rules" Description="Custom rules for ChannelGrid" ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
</RuleSet>